
body {
    font-family: Helvetica,sans-serif;
    font-size: 110%;
}
section{
    margin: 20px;
}

/*.burgers{
    float:left; margin:3%
}*/

.gluten {
    font-weight: bold;
}
.lactose {
    font-weight: bold;
}

#burgerselection{
    margin:20px;


    overflow: auto;
    background-color: black;
    color: white;
    border-style:dashed;
}
#delivery{
    overflow:auto;
    clear:left;
    border-style:dashed;
}

button{
    margin:20px;
}
button:hover {
    background-color:lightgray;
    cursor: pointer;
}

.format
{
    margin:20px
}
#container{
    height: 250px;
    overflow:hidden;
}
#headerimage{
    width:100%;
    height:auto;
    opacity:50%;
}
#headertext{
    position: absolute;
    margin-left: 450px;
    margin-top:-150px;
}
.wrapper {
    display: grid;
    grid-gap:350px;
    padding:20px;
    grid-template-columns: 100px 100px 100px;
    background-color: black;
    color: white;
}